<div class="container py-3">
  <!-- <div border="3px" *ngIf="getcartList.length"> -->
  <table class="table my-3" border="1px" *ngIf="getcartList && getcartList.length">
    <tr>
      <th>Index</th>
      <th>Category</th>
      <th>Name</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Amount</th>
      <th>actions</th>
    </tr>
    <tr *ngFor="let product of getcartList; let i = index">
      <td>
        <div *ngIf="product.userQuantity.value > 0">
          <label>{{ i + 1 }} </label>
        </div>
      </td>
      <td>
        <div *ngIf="product.userQuantity.value > 0">
          <label>{{ product.productscategory }} </label>
        </div>
      </td>
      <td>
        <div *ngIf="product.userQuantity.value > 0">
          <label>{{ product.productsName }} </label>
        </div>
      </td>
      <td>
        <div *ngIf="product.userQuantity.value > 0">
          <label>{{ product.productsDescription }}</label>
        </div>
      </td>
      <td>
        <div *ngIf="product.userQuantity.value > 0">
          <div class="modal-body">
            <button width="30px" class="me-2" (click)="removeQuntity(product, i)">
              -
            </button>
            <a>{{ product.userQuantity.value }}</a>
            <button width="20px" class="ms-2" (click)="addQuntity(product, i)"
              [disabled]="product.userQuantity.value < 1">
              +
            </button>
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="product.userQuantity.value > 0">
          <label>{{ product.productsPrice | currency:"INR" }} </label>
        </div>
      </td>
      <td>
        <div *ngIf="product.userQuantity.value > 0">
          <label>{{ product.totalPrice | currency:"INR" }} </label>
        </div>
      </td>
      <td>
        <div *ngIf="product.userQuantity.value > 0">
          <button class="btn btn-danger me-2" (click)="deleteProducts(product)">
            Remove
          </button>
          <!-- </div>
        <div *ngIf="product.userQuantity.value > 0"> -->
          <button class="btn btn-success" (click)="buyProducts(product)">
            Cheakout
          </button>
        </div>
      </td>
    </tr>
  </table>

  <div *ngIf="!getcartList || !getcartList.length">
    <div class="alert alert-danger my-3" role="alert">
      No records are there!!!
    </div>
  </div>
  <button class="btn btn-primary" *ngIf="!getcartList || !getcartList.length" routerLink="/home">
    Shop more
  </button>
  <label class="ms-2" *ngIf="!getcartList || !getcartList.length">
    To add Products</label><br />
  <div class="total fs-5" *ngIf="getcartList && getcartList.length">
    <div>
      <label> SubTotal : {{ subtotal }}₹</label>
    </div>
    <div>
      <label>GST : {{ tax }}₹</label>
    </div>
    <div>
      <label>Total : {{ total }}₹</label>
    </div>
  </div>
  <div *ngIf="getcartList && getcartList.length" class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-success my-3" (click)="allCheckout()">
      Confirm payment
    </button>
  </div>
  <!-- </div> -->
</div>